@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}
body {
  background: #fafafa;
}

.grid-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.grid-store {
  display: grid;
  gap: 20px;
  grid-template-columns: 220px 1fr;
}

.fav-wrapper:hover .blur-bg {
  transform: translateY(0);
}

.blur-bg {
  transition: all 0.35s ease-in-out;
  transform: translateY(-60px);
}

.grid-game-page {
  grid-template-columns: 35% 1fr 1fr;
}
